<div class="card">
  <%= image_tag game.cover, class: "card-image" %>
  <div class="card-content">
    <div class="card-header">
      <div>
        <%= link_to game_path(game) do %>
          <h3 class="card-title content--lg"><%= game.name %></h3>
        <% end %>
        <span class="card-subtitle content--xs"><%= game.release_date&.year %></span>
      </div>
      <div class="card-rating">
        <%= game.rating.round(1) %>
      </div>      
    </div>
    <div class="card-body">
      <p class="card-description content--xs"><%= format_description(game.summary) %></p>
    </div>
    <div class="card-footer content--xs">
      
      <div class="card-games-count"><%= game.approved_critics_count == 1 ? "1 Critic" : "#{game.approved_critics_count} Critics" %></div>

      <% if policy(game).update? %>
        <div class="card-actions">
          <a href="<%= edit_game_path(game)%>">
            <svg xmlns="http://www.w3.org/2000/svg" class="card-action" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
          </a>
          <a rel="nofollow" data-method="delete" href="<%= game_path(game)%>">
            <svg xmlns="http://www.w3.org/2000/svg" class="card-action" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>        