<div class="game__header-container">
  <%= image_tag game.cover, class: "game__cover" %>

  <div class="game__header">
    <div class="game__info">
      <h1 class="game__name heading heading--sm"><%= game.name %></h1>
      <span class="game__year content--xs"><%= game.release_date&.year %></span>
    </div>
    <span class="game__rating content--xl"><%= game.rating.round(1) %></span>
  </div>
      
  <nav class="game-details__nav">
      <%=link_to "Game details", game_path(game),
                                 class: "game-details__nav-item #{"game-details__nav-item--active" unless show_critics}" %>
      <%=link_to "Critics (#{game.approved_critics_count})", game_critics_path(game), 
                                class: "game-details__nav-item #{"game-details__nav-item--active" if show_critics}" %>
  </nav>
</div>